
*{
    font-family: 'Quicksand', sans-serif;
}


.selectedItem img{

    width: 200px;
    height: auto;
    border: 5px black solid;
    border-radius: 20px;

}

.page{
    text-align: center;
}

.header-container{
    background-image: url("/gras.jpg");

}
